<section class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-12 md:grid-cols-2 md:gap-16">
      <div>
        <h1
          id="title"
          class="mb-5 text-6xl font-bold md:mb-6 md:text-9xl lg:text-10xl"
        >
          <span class="text-[#E63946]">Heads Up</span> Social
        </h1>
        <p id="subtitle" class="md:text-md pb-6">
          I got tired of missing platform updates. So I built a way to never
          miss one again.
        </p>

        <a
          href="https://gitlab.com/thefrontendmarketer/heads-up-social"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-md bg-[#E63946] px-4 py-2 font-sans text-white"
          >Build Your Own for <strong>FREE</strong></a
        >
      </div>
      <div class="relative flex w-full" data-hero-stack>
        <div class="absolute bottom-[10%] left-0 z-20 w-[35%]" data-hero-code>
          <img
            src="https://res.cloudinary.com/dhytwf10i/image/upload/f_auto,q_auto,w_600/v1784023794/code_pz4n4k.png"
            class="aspect-square size-full object-cover rounded-lg"
            alt="Code in code editor"
          />
        </div>
        <div class="relative z-10 mx-[10%] w-full" data-hero-main>
          <img
            src="https://res.cloudinary.com/dhytwf10i/image/upload/f_auto,q_auto,w_1000/v1784023953/site2_b3egh7.png"
            alt="Heads Up Social app"
            class="rounded-lg"
          />
        </div>
        <div class="absolute right-0 top-[10%] z-30 w-2/5" data-hero-repo>
          <img
            src="https://res.cloudinary.com/dhytwf10i/image/upload/f_auto,q_auto,w_600/v1784023794/gitlabrepo_ryvc6v.png"
            class="aspect-3/2 size-full object-cover rounded-lg"
            alt="GitLab repo"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import "./Hero.js";
</script>
