---
import "../styles/global.css";
import Navbar from "../components/Navbar/Navbar.astro";
import Hero from "../components/Hero/Hero.astro";
import Issue from "../components/Issue/Issue.astro";
import About from "../components/About/About.astro";
import Path from "../components/Path/Path.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      rel="preload"
      href="/atomic-marker.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Heads Up Social is a tool to help you stay informed about social media updates, news, and how it impacts your marketing strategy."
    />
    <title>Heads Up Social</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <Hero />
      <Issue />
      <About />
      <Path />
    </main>
  </body>
</html>
